{% load static %}
<header>
  <nav class="navbar shadow-sm">
    <div class="container">
      {% with request.resolver_math.view_name as view_name %}
        <ul class="nav nav-pills">
        {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link {% if view_name == 'emails:add_email' %}active{% endif %}"
                 href="{% url 'emails:add_email' %}">
                 Добавить почту
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if view_name == 'emails:messages' %}active{% endif %}"
                 href="{% url 'emails:messages' %}">
                 Письма
              </a>
            </li>
            <li class="nav-item">
              <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Выйти</button>
              </form>
            </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'login' %}active{% endif %}"
              href="{% url 'login' %}">
              Войти
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'registration' %}active{% endif %}"
              href="{% url 'registration' %}">
              Регистрация
            </a>
          </li>
        {% endif %}
          </ul>
      {% endwith %}
    </div>
  </nav>
</header>